@{
    ViewData["Title"] = "New Manager Guide";
}


<h2 class="text-left">@ViewData["Title"]</h2>

<div class="container">
<p>This guide is aimed towards new managers who will be taking on a brand-new team starting from U7’s onwards.</p>
<p>Stick to the rule of making it fun development and you won't go far wrong!</p>
<div class="card shadow-sm p-4">
<div class="accordion" id="managerGuideAccordion">

<div class="accordion-item bg-accordion">
    <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Player Registration
        </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#managerGuideAccordion">
        <div class="accordion-body bg-white text-dark">
            <p>Player registration can be split into two parts: Club Registration and League Registration.</p>
            <p>No player can register or play in competitive matches until they reach the age of 6.</p>
            <p>Club registration takes place around June/July and league registration around July/August each year, however, preparation to register should begin as soon as teams are formed, and a designated manager is assigned.</p>
            <p>Club Registration is sorted by club secretaries Paul Tyler (Boys) and Chris Banks (Belles) and is the process of players deciding they will sign for the season. Parents need to provide their child’s details and set up their club registration and direct debit payments. This needs to be done before a player can be registered with the league, as the club needs to know that parents are paying for their child's place.</p>
            <p>Each year a link will be sent to all managers to register, this must then be sent to parents and completed as soon as possible.</p>
            <p>The club secretary will require the following (so get this information from parents sooner, rather than later), on top of what has already been provided in the club registration:</p>
            <ul>
                <li>Copy/Photograph of Birth Certificate for the Player (or Passport in cases where they don’t have a birth certificate).</li>
                <li>Confirmation of direct debit setup and confirmation code.</li>
                <li>Head and Shoulder passport-sized photograph of each player.</li>
            </ul>
            <p><strong>Advice:</strong> As soon as you have your 8 players and team sorted, request the above details from your parents so you don’t have to chase them when they are requested (excluding the confirmation code).</p>
        </div>
    </div>
</div>

<div class="accordion-item bg-accordion">
<h2 class="accordion-header" id="headingThree">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Coaches Registration
    </button>
</h2>
<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#managerGuideAccordion">
    <div class="accordion-body bg-white text-dark">
        <p>All managers and coaches MUST have a valid DBS certificate. This is an aspect of managing a team that is non-negotiable due to safeguarding legislation. All DBS checks are paid for by the club and can be arranged via Mike Wallace or Joe Duckworth.</p>
        <p>In July/August each year, all managers will need to be registered with whichever league their team will be in. This process is separate from the players' registration but is also managed by club secretary Paul Tyler. In order to complete registration, Paul requires the following details/items:</p>
        <ul>
            <li>Recent Passport photo (physical photo, a digital one cannot be accepted). * Get a passport-sized photo as soon as possible, so it's ready to pass to Paul when he requests it.</li>
            <li>Full Name</li>
            <li>Address</li>
            <li>Email Address</li>
            <li>Contact Number</li>
            <li>FAN ID</li>
            <li>DBS STATUS</li>
            <li>Confirmation that mandatory courses have been completed (below)</li>
        </ul>
        <p>
            <strong>Managers:</strong>
        </p>
        <ul>
            <li>DBS clearance</li>
            <li>Introduction to first aid in football</li>
            <li>Safeguarding Children Course</li>
            <li>Introduction to Football (FA Level 1)</li>
        </ul>
        <p>
            <strong>Assistant Managers / Coaches:</strong>
        </p>
        <ul>
            <li>DBS Clearance</li>
            <li>Safeguarding Children Course</li>
            <li>EE Playmaker</li>
        </ul>
        <p>Following the provision of all the above, the league secretary will issue a manager/coach lanyard. This is a requirement to be shown to the referee and opposition before each match in order to play. League rules state that no game should be played if managers aren’t wearing lanyards. Managers will also be provided with a copy of their team sheets; these should also be shown upon request.</p>
    </div>
</div>
<div class="accordion-item bg-accordion">
    <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Manager/Coaches Requirements and Training
        </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#managerGuideAccordion">
        <div class="accordion-body bg-white text-dark">
            <p>
                <strong>EE Playmaker</strong>
            </p>
            <p>Each manager/coach will have to complete, as a minimum, the EE Playmaker training. This is free and takes approximately 4 hours to complete. It is all online and can be done over multiple days.</p>
            <a href="https://thebootroom.thefa.com/learning/qualifications/the-fa-playmaker" target="_blank">EE Playmaker Training</a>
            <br/><br/>
            <p>
                <strong>First Aid Course</strong>
            </p>
            <p>This course is approximately 2 hours of online learning for first aid and CPR and can be done in sections. It costs £30 and the club will reimburse for this cost upon completion.</p>
            <a href="https://thebootroom.thefa.com/learning/qualifications/introduction-to-first-aid-in-football" target="_blank">First Aid Course</a>
            <br/><br/>
            <p>
                <strong>Safeguarding</strong>
            </p>
            <p>This course is approximately 2 hours of online learning on the importance and expectations for safeguarding children. It can be done in sections. It costs £30 and the club will reimburse for this cost upon completion.</p>
            <a href="https://thebootroom.thefa.com/learning/qualifications/safeguarding-children-course" target="_blank">Safeguarding Course</a>
        </div>
    </div>
</div>
<div class="accordion-item bg-accordion">
    <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Training and Venues
        </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#managerGuideAccordion">
        <div class="accordion-body bg-white text-dark">
            <p>The club has a number of venues it plays matches at:</p>
            <a class="btn btn-primary" asp-area="" asp-controller="Venues" asp-action="Index">View Venues</a><br/><br/>
            <p>Both Woodchurch facilities are only used for winter training and matches between the last week of September and the last week of March.</p>
            <p>Access to these venues will be available once the team has formed, along with the code for the locks and gates.</p>
        </div>
    </div>
</div>
<div class="accordion-item bg-accordion">
    <h2 class="accordion-header" id="headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            Equipment
        </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#managerGuideAccordion">
        <div class="accordion-body bg-white text-dark">
            <p>All new teams are entitled to a starter pack of equipment. This pack will be sorted by Joe Duckworth and will contain:</p>
            <ul>
                <li>8x training balls</li>
                <li>2x match balls</li>
                <li>Holdall</li>
                <li>First aid kit</li>
                <li>50 cones</li>
                <li>Ball bag</li>
                <li>5x bibs</li>
                <li>Ball pump and adapter</li>
            </ul>
        </div>
    </div>
</div>
<div class="accordion-item bg-accordion">
    <h2 class="accordion-header" id="headingSeven">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            Helpful Applications/Websites
        </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#managerGuideAccordion">
        <div class="accordion-body bg-white text-dark">
            <p>Some teams use apps like <strong>Spond</strong> or <strong>Heja</strong> to manage their fixtures and calendar. Both are useful tools, linking in with personal calendars and reducing the number of messages being sent in WhatsApp.</p>
            <p>
                <strong>League Results:</strong>
            </p>
            <ul>
                <li>Saturday league results: <a href="https://fulltime-admin.thefa.com/leagueAdminHome.html" target="_blank">FA Full-Time Admin</a></li>
                <li>Sunday league results are updated automatically via the game referees.</li>
            </ul>
            <p>
                <strong>Team Management:</strong>
            </p>
            <ul>
                <li>The <strong>FA Matchday app</strong> allows managers to see their team and players registered.</li>
                <li>Ensure access to the <a href="https://wholegame.thefa.com/Individual/Invoice/Summary" target="_blank">Whole Game System</a> for player management in the future.</li>
            </ul>
        </div>
    </div>
</div>

<div class="accordion-item bg-accordion">
    <h2 class="accordion-header" id="headingEight">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            Leagues
        </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#managerGuideAccordion">
        <div class="accordion-body bg-white text-dark">
            <p>Each team has a choice of two leagues to join in September. It is each team’s choice of which league (or both) you join, and there are advantages and disadvantages to both. You are not tied to a league forever and can swap each season if needed.</p>

            <h5>Eastham District League</h5>
            <ul>
                <li>Plays on a Saturday.</li>
                <li>Majority of teams play in this league, allowing for better tiering of teams. Divisions range from 1 (highest level) to 6/7 (lowest level).</li>
                <li>Match times are flexible and arranged between managers based on home team pitch availability.</li>
                <li>Home and away grounds. Glenavon U7’s play on the 3G at Woodchurch High School or Leisure Centre.</li>
                <li>Managers referee their own matches. For U12+, the club pays for referees.</li>
            </ul>

            <h5>Wallasey District League</h5>
            <ul>
                <li>Plays on a Sunday.</li>
                <li>All matches take place at the same time each week.</li>
                <li>All matches are held at the same location each week, either at Leasowe Recreation Centre or Woodchurch Community Hub (no home/away fixtures).</li>
                <li>Referees are provided for every match.</li>
                <li>Smaller league with fewer teams, leading to varied competition levels.</li>
                <li>Less flexibility in scheduling but fewer logistical arrangements for managers.</li>
                <li>Much less time sorting arrangements, but less flexibility if issues with parties/events that players will attend etc.</li>
            </ul>
        </div>
    </div>
</div>

<div class="accordion-item bg-accordion">
    <h2 class="accordion-header" id="headingNine">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            Kit and Sponsorships
        </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#managerGuideAccordion">
        <div class="accordion-body bg-white text-dark">
            <p>Each team needs to get at least one sponsor per 2 seasons if they want a new home kit (kits are expected to last 2 years). The minimum sponsorship is £250, which will be paid directly into the club bank account (see Glenavon Updates WhatsApp info section).</p>
            <p>If teams secure more than one sponsor, they can decide how to use the additional funds. Some common uses include:</p>
            <ul>
                <li>Purchasing an away kit (home kit shorts/socks match well with away shirts).</li>
                <li>Buying tracksuits for players.</li>
                <li>Acquiring specific equipment such as pop-up goals.</li>
            </ul>
            <p>The manager is responsible for determining player shirt sizes and ordering kits through the club’s supplier, currently Malooka. Contact: <strong>Mike Wallace (07879648527)</strong> for kit orders.</p>
            <p>Shirt numbers should be between 1 and 20.</p>
        </div>
    </div>
</div>

<div class="accordion-item bg-accordion">
    <h2 class="accordion-header" id="headingTen">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
            Fundraising
        </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#managerGuideAccordion">
        <div class="accordion-body bg-white text-dark">
            <p>The club runs a <a href="https://yourlottery.org/glenavon/" target="_blank">lottery</a>, the proceeds of which go to the club. Most teams also run their own fundraising activities to gain funds for equipment or other fun activities such as birthday presents or team-building days.</p>
            <p>
                <strong>Advice – Some good fundraising ideas recently used include:</strong>
            </p>
            <ul>
                <li>
                    <a href="https://www.better-fundraising-ideas.com/how-to-fundraise-race-night.html" target="_blank">Race Night</a>
                </li>
                <li>Raffles – One team raffled off a PS5: 100 numbers at £10 each. The PS5 cost £500, so the team made £500 profit.</li>
                <li><a href="https://www.amazon.co.uk/Spot-Ball-Cards" target="_blank">Spot the Ball</a> – STB cards can be bought cheaply on Amazon. Choose your stake and winnings.</li>
                <li><a href="https://www.betpromo.uk/last-man-standing/" target="_blank">Last Man Standing</a> – A fun game to run during the football season.</li>
            </ul>
            <p>It’s a good idea to set up a team kitty and establish a way to manage both incoming and outgoing funds.</p>
            <p>
                <strong>Fun ideas especially suitable for U7s and below:</strong>
            </p>
            <ul>
                <li><strong>Player of the Match</strong> – Buy an inexpensive trophy and rotate it weekly to make it fair and fun.</li>
                <li><strong>Captain’s Armbands</strong> – At younger ages, award it to the most vocal or best team player to encourage participation.</li>
            </ul>
            <p>At U7 level, parents are generally happy to cover the cost of extras or outings without dipping into the kitty. Don’t abuse this, but it can help keep the kitty well-funded.</p>
        </div>
    </div>
</div>
<div class="accordion-item bg-accordion">
    <h2 class="accordion-header" id="headingEleven">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
            Photographs
        </button>
    </h2>
    <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#managerGuideAccordion">
        <div class="accordion-body bg-white text-dark">
            <p>All managers should obtain parents’ consent to publicly share unredacted photographs of children.</p>
        </div>
    </div>
</div>

<div class="accordion-item bg-accordion">
    <h2 class="accordion-header" id="headingTwelve">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
            Tournaments
        </button>
    </h2>
    <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#managerGuideAccordion">
        <div class="accordion-body bg-white text-dark">
            <p>A lot of teams on the Wirral run tournaments each year. Keep an eye out in places like Facebook groups for announcements and sign-up opportunities.</p>
            <p>When entering tournaments, be sure to confirm whether the age groups are based on the current season or the upcoming season to avoid confusion.</p>
        </div>
    </div>
</div>

<div class="accordion-item bg-accordion">
    <h2 class="accordion-header" id="headingThirteen">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
            Useful Information
        </button>
    </h2>
    <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen" data-bs-parent="#managerGuideAccordion">
        <div class="accordion-body bg-white text-dark">
            <p>
                <strong>Club Website:</strong> <a href="http://glenavonjfc.co.uk/" target="_blank">http://glenavonjfc.co.uk/</a>
            </p>
            <p>Referees may or may not be allocated depending on your league. In some cases, you will need to find a referee yourself. The club can help with this and will reimburse referee fees—contact the treasurer for more information.</p>
            <p>The club has several defibrillators on site. If you're playing at home (e.g., Solly or The Glen), ensure a defibrillator is available in case of emergency.</p>
            <p>For home fixtures not at neutral venues, coaches are responsible for coordinating with the fixtures secretary regarding the match location and kick-off time.</p>
            <p>Each year, the club holds a presentation and a club tournament. Details will be shared via the WhatsApp group.</p>
            <p>Glenavon holds regular meetings for coaches, assistants, and parents. Make sure a representative from your team attends. These meetings are a great opportunity to stay informed and connect with other coaches.</p>
            <p>All coaches should be in the Club WhatsApp group. Other WhatsApp groups exist for fixtures, events, and more—expect to be added to those as well. Don’t hesitate to ask questions or seek support from fellow coaches.</p>
            <p>For further information, contact Joe at <strong>07841637500</strong>.</p>
        </div>
    </div>
</div>


</div>
</div>
</div>
</div>