@{
    ViewData["Title"] = "Club Dashboard";
    var isAdmin = User.IsInRole("Admin");
}

<h2 class="text-left">@ViewData["Title"]</h2>

<div class="container">
    <p>Welcome to the admin dashboard. Here you can manage the site's content and users.</p>

    <div class="row">
        @if (isAdmin)
        {
            <div class="col-md-6">
                <div class="card text-center h-100">
                    <div class="card-header bg-success text-white">
                        <h3>Equipment & Kit Manager</h3>
                    </div>
                    <div class="card-body">
                        <p>Admin Only, review all equipment & kit requests.</p>
                        <a class="btn btn-primary" asp-area="" asp-controller="EquipmentKitManager" asp-action="Index">Manage Existing Requests</a>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-6">
            <div class="card text-center h-100">
                <div class="card-header bg-primary text-white">
                    <h3>Kit Requests</h3>
                </div>
                <div class="card-body">
                    <p>Submit kit requests. All requests will be reviewed by club committee members before submitting to the supplier</p>
                    <a class="btn btn-primary" asp-area="" asp-controller="KitRequests" asp-action="Index">Submit Kit Requests</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-center h-100">
                <div class="card-header bg-secondary text-white">
                    <h3>Equipment Requests</h3>
                </div>
                <div class="card-body">
                    <p>Submit new equipment requests. All requests will be reviewed by club committee members.</p>
                    <a class="btn btn-primary disabled" asp-area="" asp-controller="KitRequests" asp-action="Index">Submit Equipment Requests</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card text-center h-100">
                <div class="card-header bg-warning text-white">
                    <h3>New Manager Information</h3>
                </div>
                <div class="card-body">
                    <p>This guide is aimed towards new managers who will be taking on a brand-new team.</p>
                    <a class="btn btn-primary" asp-area="" asp-controller="NewManager" asp-action="Index">View Information</a>
                </div>
            </div>
        </div>
    </div>
</div>