@model int

@{
    ViewData["Title"] = "Equipment Request Submitted";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-success">
                <h4 class="alert-heading">Success</h4>
            </div>
            <p class="text-left">
            Your Equipment Request #@Model was submitted successfully.
            <p/>
            <p class="text-left">
            This will now be reviewed by a member of the committee.
            <p/>

        </div>
    </div>

    <div class="mb-3">
        <a href="@Url.Action("Index", "EquipmentKitManager")" class="btn btn-secondary btn-sm">
            ← Submit Another Equipment Request
        </a>
    </div>
</div>