<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - The Home of Glenavon JFC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<!-- Flex container that will allow the sticky footer -->
<div class="main-wrapper d-flex flex-column min-vh-100">
    <header>

        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <!-- Logo -->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" alt="Glenavon JFC Logo" class="img-fluid" style="max-height: 70px;"/>

                </a>
                <!-- Toggler button for mobile -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars" style="color: white; font-size: 24px;"></i>
                </button>
                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="News" asp-action="Index">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Committee" asp-action="Index">Committee</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Venues" asp-action="Index">Venues</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Teams" asp-action="Index">Teams</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Registration" asp-action="Index">Registration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Partners" asp-action="Index">Partners</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Sponsors" asp-action="Index">Sponsors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Lottery" asp-action="Index">Lottery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Community" asp-action="Index">Community</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white external-link" href="https://www.malookasports.com/product-category/teamwear/glenavon-jfc/" target="_blank">Shop</a>
                        </li>
                        @*             <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                        </li> *@
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <!-- Flex-grow content ensures it will take all available space -->
    <div class="container flex-grow-1">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer at the bottom -->
    <footer class="footer mt-auto">
        <div class="container">
            <ul class="social-icons">
                <li>
                    <a class="external-link" href="https://www.facebook.com/people/Glenavon-JFC/100057159622473/" target="_blank">
                        <i class="fab fa-facebook" style="font-size: 1.5em;"></i>
                    </a>
                </li>
                <li>
                    <a class="external-link" href="https://www.instagram.com/glenavon_jfc/" target="_blank">
                        <i class="fab fa-instagram" style="font-size: 1.5em;"></i>
                    </a>
                </li>
            </ul><br/>
            <div class="footer-links">
                <a class="nav-link text-white d-inline" asp-area="" asp-controller="Privacy" asp-action="Index">Privacy</a> |
                <a class="nav-link text-white d-inline" asp-area="" asp-controller="CodeOfConduct" asp-action="Index">Code of Conduct</a> |
                <a class="nav-link text-white d-inline" asp-area="" asp-controller="Safeguarding" asp-action="Index">Safeguarding</a> |
                <a class="nav-link text-white d-inline" asp-area="" asp-controller="Recruitment" asp-action="Index">Recruitment</a>
            </div>
        </div>
    </footer>
</div>

<!-- Modal HTML -->
<div class="modal fade" id="externalLinkModal" tabindex="-1" aria-labelledby="externalLinkModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="externalLinkModalLabel">Leave Website</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                You are about to leave our website. Do you want to proceed to the external website?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                <a id="proceedExternal" href="#" class="btn btn-primary">Proceed</a>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

@await RenderSectionAsync("Scripts", false)
</body>
</html>