@model RecruitmentViewModel

@{
    ViewData["Title"] = "Recruitment";
}

<h2 class="text-left">@ViewData["Title"]</h2>

<!-- Players Recruitment Section -->
<div class="row">
    <div class="col-12">
        <h4 class="text-left">Players Recruitment</h4>
        <p>
            Below is a list of which teams are currently recruiting players. Please get in touch if you wish to join us.
        </p>
        <p class="text-danger">
            No teams are actively recruiting players at this time. Please check back in the future.
        </p>
    </div>
</div>

<!-- Volunteer and Coach Recruitment Section -->
<div class="row mt-5">
    <div class="col-12">
        <h4 class="text-left">Volunteer and Coach Recruitment</h4>
        <p>
            Below is a list of which teams are currently recruiting new coaches or if the club requests volunteers. Please get in touch if you wish to join us.
        </p>
        <p>
            Glenavon always needs more volunteers to assist in the running of the club, as well as help with improving or maintaining facilities. Please get in touch via our <a href="/contact">contact page</a> if you wish to help.
        </p>
        <p class="text-danger">
            We aren't currently recruiting new coaches.
        </p>
    </div>
</div>