<div class="row mt-4">
    <div class="col-12">
        <h4 class="mb-3">2025/2026 Kits</h4>
        <p class="mb-4">
            We're excited to reveal our brand new kits for the 2025/26 season! Below you can preview the full range, including home, away, and goalkeeper kits.
        </p>

        @Html.Partial("_KitGalleryContent")
    </div>
</div>