@* _KitGalleryContent.cshtml *@

<div class="row g-4">
    <!-- Home Kit -->
    <div class="col-12 col-md-4 text-center">
        <a href="#" data-bs-toggle="modal" data-bs-target="#kitModal"
           data-img="/images/kits/home.jpg" data-title="Home Kit" class="kit-thumbnail-wrapper">
            <img src="/images/kits/home.jpg" alt="Home Kit" class="img-thumbnail"
                 style="width: 100%; height: 200px; object-fit: cover; cursor: zoom-in;">
            <i class="bi bi-zoom-in magnifier-icon"></i>
        </a>
        <div class="mt-2">Home Kit</div>
    </div>

    <!-- Home Shorts -->
    <div class="col-12 col-md-4 text-center">
        <a href="#" data-bs-toggle="modal" data-bs-target="#kitModal"
           data-img="/images/kits/homeshorts.jpg" data-title="Home Shorts" class="kit-thumbnail-wrapper">
            <img src="/images/kits/homeshorts.jpg" alt="Home Shorts" class="img-thumbnail"
                 style="width: 100%; height: 200px; object-fit: cover; cursor: zoom-in;">
            <i class="bi bi-zoom-in magnifier-icon"></i>
        </a>
        <div class="mt-2">Home Shorts</div>
    </div>

    <!-- Away Kit -->
    <div class="col-12 col-md-4 text-center">
        <a href="#" data-bs-toggle="modal" data-bs-target="#kitModal"
           data-img="/images/kits/awaykit.jpg" data-title="Away Kit" class="kit-thumbnail-wrapper">
            <img src="/images/kits/awaykit.jpg" alt="Away Kit" class="img-thumbnail"
                 style="width: 100%; height: 200px; object-fit: cover; cursor: zoom-in;">
            <i class="bi bi-zoom-in magnifier-icon"></i>
        </a>
        <div class="mt-2">Away Kit</div>
    </div>

    <!-- Home Goalkeeper Kit -->
    <div class="col-12 col-md-4 text-center">
        <a href="#" data-bs-toggle="modal" data-bs-target="#kitModal"
           data-img="/images/kits/homegkkit.jpg" data-title="Home Goalkeeper Kit" class="kit-thumbnail-wrapper">
            <img src="/images/kits/homegkkit.jpg" alt="Home Goalkeeper Kit" class="img-thumbnail"
                 style="width: 100%; height: 200px; object-fit: cover; cursor: zoom-in;">
            <i class="bi bi-zoom-in magnifier-icon"></i>
        </a>
        <div class="mt-2">Home Goalkeeper Kit</div>
    </div>

    <!-- Away Goalkeeper Kit -->
    <div class="col-12 col-md-4 text-center">
        <a href="#" data-bs-toggle="modal" data-bs-target="#kitModal"
           data-img="/images/kits/awaygkkit.jpg" data-title="Away Goalkeeper Kit" class="kit-thumbnail-wrapper">
            <img src="/images/kits/awaygkkit.jpg" alt="Away Goalkeeper Kit" class="img-thumbnail"
                 style="width: 100%; height: 200px; object-fit: cover; cursor: zoom-in;">
            <i class="bi bi-zoom-in magnifier-icon"></i>
        </a>
        <div class="mt-2">Away Goalkeeper Kit</div>
    </div>

    <!-- Alternative Goalkeeper Kit -->
    <div class="col-12 col-md-4 text-center">
        <a href="#" data-bs-toggle="modal" data-bs-target="#kitModal"
           data-img="/images/kits/alternategk.jpg" data-title="Alternative Goalkeeper Kit" class="kit-thumbnail-wrapper">
            <img src="/images/kits/alternategk.jpg" alt="Alternative Goalkeeper Kit" class="img-thumbnail"
                 style="width: 100%; height: 200px; object-fit: cover; cursor: zoom-in;">
            <i class="bi bi-zoom-in magnifier-icon"></i>
        </a>
        <div class="mt-2">Alternative Goalkeeper Kit</div>
    </div>
</div>