@{
    ViewData["Title"] = "Privacy";
}

<h2 class="text-left">@ViewData["Title"]</h2>
<!-- Privacy Policy Section -->
<div class="row">
    <div class="col-12">
        <p>
            We at Glenavon Junior Football Club take your privacy very seriously.
        </p>
        <p>
            This privacy notice sets out how we use and look after the personal information we collect from you. We are the data controller, responsible for the processing of any personal data you give us. We take reasonable care to keep your information secure and to prevent any unauthorised access to or use of it.
        </p>
        <h4>What personal data we hold on you</h4>
        <p>
            Personal data means any information about an individual from which that individual can be identified. We collect, use, store and transfer some personal data of our participants (and their parents or guardians), and other Club members.
        </p>
        <p>
            You provide information about yourself when you register with the Club, and by filling in forms at an event or online, or by corresponding with us by phone, email or otherwise.
        </p>
        <p>
            The information you give us may include your name, date of birth, address, email address, phone number, gender and the contact details of a third party in case of emergency. We may also ask for relevant health information, which is classed as special category personal data, for the purpose of your health, wellbeing, welfare and safeguarding. Where we hold this data, it will be with the explicit consent or the participant or, if applicable, the participant’s parent or guardian.
        </p>
        <p>
            Where we need to collect personal data to fulfil Club responsibilities and you do not provide that data, we may not be able to honour or administer your membership.
        </p>

        <h4>Why we need your personal data</h4>
        <p>
            We will only use personal data for any purpose for which it has been specifically provided.
        </p>
        <p>
            The reason we need participants’ and members’ personal data is to be able to run the football club and arrange matches; to administer memberships and provide the membership services you are signing up to when you register with the club. Our lawful basis for processing your personal data is that we have a contractual obligation to you as a participant or member to provide the services you are registering for.
        </p>

        <h4>Purpose / Processing Activity</h4>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Purpose / Processing Activity</th>
                <th>Lawful Basis for processing under Article 6 of the GDPR</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    Sharing data with committee members to provide information about club activities, membership renewals or invitations to social events.
                </td>
                <td>
                    The club has a legitimate interest to run the organisation efficiently and as it sees fit. Provision of some third-party services is for the benefit of the Club, participants, and its members.
                </td>
            </tr>
            <tr>
                <td>
                    Sharing anonymised data with a funding partner as a condition of grant funding e.g. local authority.
                </td>
                <td>
                    The club has a legitimate interest to run the organisation efficiently and as it sees fit. Application for funding is a purpose that benefits the Club, participants, and its members.
                </td>
            </tr>
            <tr>
                <td>Publishing match and league results.</td>
                <td>Consent. We will only publish your personal data in a public domain, including images and names, if you have given permission for us to do so.</td>
            </tr>
            </tbody>
        </table>

        <h4>Who we share your personal data with</h4>
        <p>
            When you become a member of the Club, your information, if you are a coach or volunteer, will be or, if you are another participant, may be (depending upon which league(s) your team plays in) entered onto the Whole Game System database, which is administered by the FA. We also pass your information to the County FA and to leagues to register participants and the team for matches, tournaments or other events, and for affiliation purposes.
        </p>
        <p>
            We may share your personal data with selected third parties, suppliers and sub-contractors such as referees, coaches or match organisers. Third-party services will only process your personal data for specified purposes and in accordance with our instructions.
        </p>
        <p>
            We may disclose your personal data to third parties to comply with a legal obligation; or to protect the rights, property, or safety of our participants, members, affiliates, or others.
        </p>
        <p>
            The Club’s data processing may require your personal information to be transferred outside of the UK. Where the club does transfer your personal data overseas, it is with sufficient appropriate safeguards in place to ensure the security of that personal data.
        </p>

        <h4>Protection of your personal data</h4>
        <p>
            We have put in place appropriate security measures to prevent your personal data from being accidentally lost, used, or accessed in an unauthorised way, altered, or disclosed.
        </p>

        <h4>How long we hold your personal data</h4>
        <p>
            We keep personal data on our participants and members while they continue to be a participant or member or otherwise actively involved with the Club. We will delete this data at the end of the season, after a participant or member has left or otherwise ended their membership or affiliation, or sooner if specifically requested and we are able to do so. We may need to retain some personal data for longer for legal or regulatory purposes.
        </p>
        <p>
            The personal data that is stored on Whole Game System is subject to their privacy policy, so we advise you review that policy together with this notice. If you would like your personal data to be deleted from Whole Game System, then please contact them.
        </p>

        <h4>Your rights regarding your personal data</h4>
        <p>
            As a data subject, you may have the right at any time to request access to, rectification, or erasure of your personal data; to restrict or object to certain kinds of processing of your personal data, including direct marketing; to the portability of your personal data; and to complain to the UK’s data protection supervisory authority, the Information Commissioner’s Office, about the processing of your personal data.
        </p>
        <p>
            As a data subject, you are not obliged to share your personal data with the Club. If you choose not to share your personal data with us, we may not register or administer your membership.
        </p>
        <p>
            We may update this Privacy Notice from time to time and will inform you of any changes in how we handle your personal data.
        </p>
        <p>
            If you have any questions about this Privacy Notice, then please contact the Club Welfare Officer.
        </p>
    </div>
</div>