@model HomeViewModel

@{
    ViewData["Title"] = "Home";
}

<h2 class="text-left">Welcome to Glenavon JFC</h2>
<div class="row">
    <div class="col-12">
        <p>
            Located in Prenton, Wirral, Merseyside, Glenavon Junior Football Club is a proud, FA 3-star accredited grassroots football club affiliated with the Cheshire FA. We are more than just a club—we are a community that brings together players, coaches, committee members, parents, and guardians to support young athletes in their football journey.
        </p>
        <p class="text-left">
            With over 600 children and adults currently playing for Glenavon JFC, we are committed to growing the game for everyone. We are actively improving our facilities and venues to ensure that every child who wants to play football has the opportunity to do so. Additionally, we are working towards expanding our provisions to support players of all abilities, including those with additional needs.
        </p>
        <p class="text-left">
            Our club is run entirely by dedicated volunteers. Our managers lead the teams, while our committee works tirelessly to secure funding, manage finances and facilities, and ensure that every team has the equipment, resources, and skills needed to thrive.
        </p>
        <p class="text-left">
            At Glenavon JFC, we believe in the power of football to inspire, unite, and develop young players both on and off the pitch. Whether you’re looking to join a team, volunteer, or support grassroots football, we welcome you to be part of our growing community.
        </p>

    </div>
</div>