@model HomeViewModel

@{
    ViewData["Title"] = "Home";
}

<h2 class="text-left">Our Club</h2>
<div class="row">
    <div class="col-12">
        <p>
            Welcome to Glenavon JFC. Based in Prenton, Wirral, Merseyside we are a community, 3 star accredited grassroots football team affiliated with the Cheshire FA, which includes the players, the committee, the managers and coaches and the parents and guardians of all the children.
        </p>
        <p class="text-left">
            We currently have over 600 children and adults playing for our club and we are in the process of improving our facilities and venues in order to hopefully provide grassroots football for any child that wants to play and expanding to provide the facilities for less abled players.
        </p>
        <p class="text-left">
            The club is ran completely by volunteers. The managers run the teams and the committee ensure that the club as a whole runs efficiently throughout the year, from obtaining funding, managing finances and facilities and ensuring the teams have all the equipment and skills required.
        </p>
    </div>
</div>