@{
    ViewData["Title"] = "Code of Conduct";
}

<h2 class="text-left">@ViewData["Title"]</h2>

<div class="row">
    <div class="col-12">
        <p>
            These guidelines are intended to ensure that all club members maintain a high standard of behaviour both on and off the field of play whilst representing Glenavon Junior Football Club.
        </p>

        <h4>Playing Members</h4>
        <ul>
            <li>All players are required to act within the spirit of the game and abide by the laws of the game.</li>
            <li>Violent play and foul language WILL NOT be tolerated under any circumstances.</li>
            <li>Bullying/intimidation or theft WILL NOT be tolerated under any circumstances.</li>
            <li>The decisions of the match official(s) will not be questioned, even if you don’t agree with them – we all make mistakes.</li>
            <li>Players should thank the match official(s) after the game – without them we cannot play at all.</li>
            <li>Players should shake hands with their opponents before leaving the field of play regardless of the score.</li>
            <li>Shin pads must be worn both at training sessions and matches. The player’s socks MUST cover their shin pads; the socks are to be suitably tied up.</li>
            <li>Be punctual for all coaching/training sessions and all matches.</li>
            <li>Inform your team manager/coach as soon as possible if you cannot attend a coaching/training session or are unavailable for matches whatever the reason.</li>
            <li>Take pride in your appearance. Ensure your boots are clean, correctly laced, and that your studs are in good condition and DO NOT present a danger to other players.</li>
            <li>Failing to prepare before any coaching/training session or match is preparing to fail.</li>
            <li>Bring a water bottle to coaching/training sessions and matches.</li>
            <li>Let us leave a favorable impression on our opponents. Players should show respect for their own and other people’s property. Try to leave the changing rooms in good order.</li>
        </ul>

        <h4>Parents/Spectators</h4>
        <ul>
            <li>The club and team managers are held responsible for the behaviour of players and spectators before, during and after the game. The club will be disciplined by Cheshire County F.A or the Wallasey Junior League for any incidents that involve players and/or spectators.</li>
            <li>The decision of the match official(s) must not be questioned.</li>
            <li>Parents and spectators must not become involved in arguments with match officials, opposing players or their supporters.</li>
            <li>It is especially important for spectators to stay off the field of play during a game.</li>
            <li>All disputes regarding the behavior of match official(s) or the opposing players and their spectators will be the responsibility of the team manager who will follow official procedures for the registration of the complaint.</li>
            <li>We hope that all players and spectators will appreciate skill and effort from both teams, irrespective of the result.</li>
            <li>Encourage the team from the touchline but please keep quiet about any mistakes that are made. Leave any coaching to the manager – it is more efficient and less confusing for the players.</li>
            <li>All players, parents, and spectators should try to minimize any nuisance to residents in the vicinity of the matches e.g. excessive noise, inconsiderate parking of cars, etc.</li>
        </ul>

        <h4>Team Coach/Manager</h4>
        <p>Should:</p>
        <ul>
            <li>Endeavour to keep your knowledge and experience up to date.</li>
            <li>Be a member of the F.A. coaching association.</li>
            <li>Be qualified in coaching and first aid.</li>
            <li>Be dressed appropriately.</li>
            <li>Be approachable.</li>
            <li>Be punctual for training sessions and match games.</li>
            <li>Be a role model, not drinking/smoking in charge of children.</li>
            <li>Encourage fair play and good behaviour.</li>
            <li>Discourage unfair play and bad behaviour.</li>
            <li>Be enthusiastic.</li>
            <li>Be patient and organized.</li>
            <li>Abide by the rules of the game, Cheshire County F.A, and those set out by the League.</li>
            <li>Be observant, know your players.</li>
            <li>Be able to diagnose and understand your players’ feelings.</li>
            <li>Be a good communicator/demonstrator.</li>
            <li>Possess an open and inquiring mind.</li>
        </ul>
        <p>At all times, try and develop the child, not just the footballer.</p>

        <h4>Finally</h4>
        <p>
            As stated, the match official(s) has the power to report players/managers or spectators to Cheshire County F.A. Any individual reported to the F.A will be expected to pay all associated fines.
        </p>
        <p>
            REMEMBER F.A. Rule 25 makes every club responsible for the conduct of the players, officials, spectators, and followers before, during, and after each game. Failure to do so will result in those being charged by the County F.A. with misconduct and the club with failing to control the parties reported.
        </p>
    </div>
</div>