@{
    ViewData["Title"] = "Registration 2025/26";
}

<h2 class="text-left">@ViewData["Title"]</h2>

<div class="row mt-4">
    <div class="col-12">
        <p class="text-left">
            <strong>PRE-REGISTRATION CHECK!</strong>
        </p>
        <p class="text-left">
            Please share with all your parents and guardians.
        </p>
        <p class="text-left">
            Prior to us starting our registration process for the upcoming 2025/26 season, please ensure you have checked and can log into your
            <a href="https://app.joinin.online/#/app/joinin/organisation/shop/6bb9c64f-a948-4a72-9721-bb47eeefd161" target="_blank" rel="noopener">
                LoveAdmin account.
            </a>
        </p>
        <p class="text-left">
            If you can't log in, please follow the password reset or trouble signing in links.
        </p>
        <p class="text-left">
            Doing this now will save time before registrations open.
        </p>
        <p class="text-left">
            It will be the same process as last season, and there is no requirement to create a new account if you registered a child for Glenavon last season.
        </p>
        <p class="text-left">
            For new players joining Glenavon JFC, please ignore this message for now. Further communication will be shared on how to register at a later date.
        </p>


        <p class="text-left">
            <a href="https://app.joinin.online/#/app/joinin/organisation/shop/6bb9c64f-a948-4a72-9721-bb47eeefd161" target="_blank" rel="noopener">
                <img src="/images/partners/loveadmin.jpg" alt="Joinin Registration" class="img-fluid" style="max-width: 300px;"/>
            </a>
        </p>

    </div>
</div>