@model VenuesViewModel

@{
    ViewData["Title"] = "Venues";
}

<h2 class="text-left">@ViewData["Title"] </h2>
<div class="container mt-5">
    <div class="row">
        @foreach (var venue in Model.Venues)
        {
            <div class="col-md-6">
                @await Component.InvokeAsync("Venue", venue);
            </div>
        }
    </div>
</div>