@model PartnershipsViewModel

@{
    ViewData["Title"] = "Partnerships";
}

<h2 class="text-left">@ViewData["Title"] </h2>

<div class="row">
    <div class="col-12">
        
        <p class="text-left">
            We thank all sponsors of Glenavon JFC, either those that support the whole club or individual teams. 
            Without your support, either financial or providing services or labour, we really appreciate it.
        </p>
        <p class="text-left">
            We always need more sponsors. We welcome all offers of support on an individual team or club basis. 
            Please get in touch if you wish to find out more.
        </p>
    </div>
</div>