@{
    ViewData["Title"] = "Safeguarding";
}

<h2 class="text-left">@ViewData["Title"]</h2>

<!-- Safeguarding Section -->
<div class="row">
    <div class="col-12">
        <p>
            At Glenavon JFC, we treat the safeguarding and welfare of our players, their families, and anyone else we come into contact with as our top priority.
        </p>
        <p>
            We have a team of four welfare officers. They are all volunteers; however, they all work within services providing safeguarding, healthcare, or public services as their full-time jobs.
        </p>
        <p>
            Our club's welfare officers are Tony Williams, Mike Wallace, Joe Duckworth, and Ruth Johnson.
        </p>
        <p>
            We strive to protect our children from harm, and in order to do this effectively, we will share information with local safeguarding agencies when and where required via the local authority designated officer policy.
        </p>
        <p>
            Furthermore, Glenavon JFC has structured our policies so they fall in line with the FA's safeguarding policies. More information regarding this can be found here:
            <a class="external-link" href="https://www.thefa.com/football-rules-governance/safeguarding/policy-downloads" target="_blank">FA Safeguarding Policies</a>.
        </p>

        <h4>Mandatory Requirements for Coaches and Volunteers</h4>
        <p>We have a number of mandatory and non-negotiable requirements that we expect all our coaches and anyone else involved in looking after our youth players to adhere to. Some of which are:</p>
        <ul>
            <li>To undertake and pass an enhanced DBS check, renewing this every 3 years.</li>
            <li>To complete the FA's safeguarding children training every year.</li>
        </ul>
        <p>
            Furthermore, we expect at least one coach from each team to have completed the yearly first aid qualification. However, we encourage all coaches to complete this training.
        </p>
        <p>
            If you are aware of coaches within the club who don’t have a valid DBS, do not hesitate to contact the club directly <a href="/Contact">here</a>.
        </p>
    </div>
</div>